# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Streamlit cache
.streamlit/

# FAISS index and other generated data
faiss_index/
faiss_index/*

# VSCode settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints/